<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patchouli Web</title>
</head>
<body>
    <!-- botania/index.html == botania/lexicon/index.html == botania/lexicon/en_us/index.json when only one book in that namespace -->
    <!-- this will have a list of links to the book_home of each book sorted by curseforge downloads. perhaps as well as a about section on the site -->

    <div class="content">
        <h1> Patchouli Web Books </h1>
        <p>
            Ever wanted to read mod documentation without waiting for a Minecraft instance to load? This is the site for you! 
        </p>
    </div>

    <div id="index">
        $BOOKS
    </div>

    <div class="content">
        <h2> Contact </h2>
        <p>
            If you know of a mod that uses patchouli for documentation that is missing on this site, please tell me! 
            Make sure that the mod is open source and permissively licensed. DM me on Discord (LukeGrahamLandry#6888). 
            <br> <br>
            Mistakes happen! If this site has documentation for your mod that violates the terms of your license, DM me and I'll take it down.
        </p>
        
        <!--
        does asking for money make it commercial use? idk
        <h2> Support The Site </h2>
        <p>
            If you found this site helpful, donating is a great way to keep it existing. 
            Consider making a recurring donation on <a href="https://www.patreon.com/LukeGrahamLandry">Patreon</a> or a one time donation via <a href="https://www.paypal.me/LukeGrahamLandry">PayPal</a>.    
        </p>
        -->
        
        <!--
        maybe have this as a banner on other pages
        <h2> Minecraft Modding Tutorials </h2>
        <p>
            Interested in making your own Minecraft mods? Check out my tutorials at <a href="https://moddingtutorials.org">moddingtutorials.org</a>
        </p>
        -->
        
        <h2> Commissions </h2>
        <p>
            If you have an idea for a mod and would like to commission me to make it a reality, 
            DM me on discord (LukeGrahamLandry#6888). Please prepare a detailed description of the 
            features you want so I can give you a meaningful quote. I will require a 30% deposit before 
            I begin work. Due to time constraints, no commissions under $75 will be taken. I'm happy 
            to work in versions 1.16.x or 1.17.x on Forge or Fabric. You can take a look at <a href="https://moddingtutorials.org/my-mods">My Mods</a>  
            for some examples of my past work. 
            <br> <br>
            I also offer one-on-one tutoring. Want real time personalized help learning to make Minecraft mods? 
            Get on a video call with me, share your screen and I'll guide you through making anything you can imagine. 
            DM me on discord (LukeGrahamLandry#6888) and we'll find a time that works for both of us. Fee: $30/hour
        </p>
    </div>
</body>
</html>